
/* Define default theme colors */
	

html {
	width: 100%;
}

body {
  font-family: Rethink Sans, Inter, sans-serif;
  background-color: var(--bg-simple);
  color: var(--text-onsimple);
  margin: 0 auto; /* Reset default margin */
  /*max-width: 1440px;*/
  transition: background 250ms;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1%;
}
/*
body.home { 
	background-color: var(--bg-theme);
 }*/

.left {
	text-align: left;
	width: auto;
	max-width: unset;
}




/*typography */
		h1{ 
			font-size: 3.5rem;
			line-height: 140%;
			font-weight: 600;
		    letter-spacing: -1px;
		}

		body.home h1{
			color: var(--accent-text-ontheme);
			margin-top: 0;
		}


		h1, h3 {
			font-weight: 400;
		}

		a {
		  color: var(--accent-onsimple);
		  text-decoration: none;
		}

		h2{
			font-size: 34px;
			font-weight: 300;
			line-height: 140%;
			margin-bottom: 0;
		}

		h3 {
			font-size: 1.5rem;
			letter-spacing: -.4px;
		}

		h4 {
		    font-weight: 600;
		}
		p { font-family: 'Newsreader', serif; font-weight: 300; font-size: 1.125rem;}


		.hero p {
			grid-column: span 4 / 7;
			color: var(--accent-text-ontheme);
		}

		
		nav {
		    font-size: 1.3rem;
		    letter-spacing: -0.5px;
		}
		nav a {
		    margin-left: 2rem;
		}


/*layout basics*/
	

		section{
			padding: 6rem 6rem;
			max-width: 1440px;
			margin-left: auto;
			margin-right: auto;
		}

		.grid{
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-column-gap: 4rem;
			align-items: center;

		}
		.grid-w-rows {
			    grid-template-rows: repeat(2, auto);
			    grid-row-gap: 2rem;

		}


		.grid .left-col { grid-area: 1 / 1 / 2 / 4; }
		.grid .right-col { grid-area: 1 / 4 / 2 / 7;}



		.row-two{
			grid-area: 2 / 2 / 3 / 6;
		    height: fit-content;
		    transform: translateY(0px);
		    margin: 0px;
		    max-width: none;
		}

		body.home .grid.hero{
		    min-height: calc(100vh - 140px) !important;
		    align-content: flex-start;
		}
		

		.six-col {
			grid-column: span 6;
		}

		.five-col{
			grid-column: span 4 / 6;
			margin-bottom: 3rem;
		}
		.four-col {
			grid-column: span 4;
		}
		.three-col {
			grid-column: span 3;
		}

		.two-col {
			grid-column: span 2;
		}


.values {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 1rem;
grid-row-gap: 1rem;
justify-items: center;
    padding: 3rem 0;
}

h4.value {
	font-size: 2.5rem;
	font-family: 'Newsreader', serif;
	font-style: italic;
	font-weight: 200;
	color: var(--accent-onsimple);
	margin: 0;
}

.value:nth-of-type(1) { grid-area: 1 / 1 / 2 / 2; }
.value:nth-of-type(2) { grid-area: 1 / 2 / 2 / 3; }
.value:nth-of-type(3) { grid-area: 1 / 3 / 2 / 4; }
.value:nth-of-type(4) { grid-area: 2 / 3 / 3 / 4; }
.value:nth-of-type(5)  { grid-area: 2 / 4 / 3 / 5; }

{ grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 2 / 4 / 3 / 5; }

/*project section*/

	#work {
	    margin: 0 0 5rem ;
	    padding-top: 5rem;
	    border-radius: 5px;
	    background-color: var(--bg-simple);
	}

	span.badge {
	    padding: 8px 1rem;
	    margin-bottom: 1rem;
	    display: inline-block;
	    border-radius: 8px;
	    transition: all .25s;
	    background-color: var(--bg-insight);
	    color: var(--text-insight);
	}



	#work.project img {
		width: 100%;
		grid-column: span 3 / 7;
		position: sticky;
		    top: 0;
		    right: 0;
		    align-self: start;
		    background: var(--bg-simple);

	}

	.project.info {
	    grid-column: span 2 / 3;
	    position: sticky;
	    top: 0;
	    left: 0;
	    align-self: start;
	    background: var(--bg-simple);

	}

	.project img {
    width: 100%;
}




/* colors */
.primary-color {
	color: var(--accent-color);
}



/*header*/

		header{
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
		    	padding: 2rem 4rem 0;
		}

		div.name{
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    gap: 2rem;
		}

		svg {
			fill: var(--logo-onhome);
			transition: all .5s;
		}

		p.name {
			opacity: 0;
		}

		svg path{
			transition: transform 200ms;
			transform: rotate(0deg);
			transform-origin: center;
			transform-box: border-box;
		}

		svg:hover path {
		    transform: rotate(-29deg);

		}





/*theme colors*/

/*
		[data-theme="cow"] {
		  --primary-color: #333;
		  --secondary-color: #eee;
		  --accent-color: #FAC2C3;
		  --text-color: #000;
		  --background-color: #fff;
		}

		[data-theme="crow"] {
		  --primary-color: #eee;
		  --secondary-color: #333;
		  --accent-color: #00a878; 
		  --text-color: #fff;
		  --background-color: #111;
		}

		[data-theme="pig"] {
		  --primary-color: #094CD3;
		  --secondary-color: #d8c29f;
		  --accent-color: #b96278;
		  --text-color: #332211;
		  --background-color: #FFEBEC;
		}

		[data-theme="peacock"] {
		  --primary-color: #CFFB7D;
		  --secondary-color: #d8c29f;
		  --accent-color: #91E80F;
		  --text-color: #333;
		  --background-color: #4563CF;
		}*/

:root {
  --bg-theme: #f6f6f7;
  --text-ontheme: rgba(42, 44, 60, 1);
  --logo-onhome: rgba(42, 44, 60, 1);
  --bg-simple: rgba(255, 255, 255, 1);
  --text-onsimple: rgba(42, 44, 60, 1);
  --accent-onsimple: rgba(98, 87, 77, 1);
  --accent-text-ontheme: rgba(16, 15, 23, 1);
  --bg-insight: #ffebf0;
  --highlight: rgba(255, 255, 197, 1);
  --button-bg: rgba(42, 44, 60, 1);
  --text-onbutton: rgba(255, 255, 255, 1);
    --upgrade: #0e680e;
  --fetch: #dd3247;
  --sbi: #3591CF;
}

[data-theme="peacock"] {
  --bg-theme: rgba(56, 86, 195, 1);
  --text-ontheme: rgba(158, 255, 253, 1);
  --logo-onhome: rgba(145, 232, 15, 1);
  --bg-simple: rgba(15, 16, 23, 1);
  --text-onsimple: rgba(255, 255, 255, 1);
  --accent-onsimple: rgba(158, 255, 253, 1);
  --accent-text-ontheme: rgba(207, 251, 125, 1);
  --bg-insight: #0be6bb;
  --text-insight: #000;
  --highlight: #17173b;
  --button-bg: rgba(42, 44, 60, 1);
  --text-onbutton: rgba(255, 255, 255, 1);
    --upgrade: #078c07;
  --fetch: #9ec438;
  --sbi: #7ac3f8;
}

[data-theme="cow"]  {
  --bg-theme: #f6f6f7;
  --text-ontheme: rgba(42, 44, 60, 1);
  --logo-onhome: rgba(42, 44, 60, 1);
  --bg-simple: rgba(255, 255, 255, 1);
  --text-onsimple: rgba(42, 44, 60, 1);
  --accent-onsimple: rgba(98, 87, 77, 1);
  --accent-text-ontheme: rgba(16, 15, 23, 1);
  --bg-insight: #222;
  --text-insight: rgba(255, 255, 255, 1);
  --highlight: rgba(255, 255, 197, 1);
  --button-bg: rgba(42, 44, 60, 1);
  --text-onbutton: rgba(255, 255, 255, 1);
  --upgrade: #0e680e;
  --fetch: #dd3247;
  --sbi: #3591CF;
}
[data-theme="crow"] {
  --bg-theme: rgba(16, 15, 23, 1);
  --text-ontheme: rgba(255, 255, 255, 1);
  --logo-onhome: rgba(0, 168, 120, 1);
  --bg-simple: rgba(16, 15, 23, 1);
  --text-onsimple: rgba(255, 255, 255, 1);
  --accent-onsimple: rgba(255, 255, 255, 1);
  --accent-text-ontheme: rgba(255, 255, 255, 1);
  --bg-insight: rgba(17, 28, 50, 1);
  --highlight: rgba(54, 18, 96, 1);
  --button-bg: rgba(0, 168, 120, 1);m 
  --text-onbutton: rgba(255, 255, 255, 1);
   --upgrade: #078c07;
  --fetch: #9ec438;
  --sbi: #7ac3f8;
}
[data-theme="pig"]{
  --bg-theme: rgba(255, 235, 236, 1);
  --text-ontheme: rgba(9, 76, 211, 1);
  --logo-onhome: rgba(185, 98, 120, 1);
  --bg-simple: rgba(255, 255, 255, 1);
  --text-onsimple: rgba(42, 44, 60, 1);
  --accent-onsimple: rgba(9, 76, 211, 1);
  --accent-text-ontheme: rgba(9, 76, 211, 1);
  --bg-insight: rgba(255, 235, 236, 1);
  --highlight: rgba(255, 255, 197, 1);
  --button-bg: rgba(42, 44, 60, 1);
  --text-onbutton: rgba(255, 255, 255, 1);
  --upgrade: #0e680e;
  --fetch: #dd3247;
  --sbi: #3591CF;
}

[data-theme="jelly"]{
 --bg-theme: #0C1D31FF;
  --text-ontheme: #A6DAFFFF;
  --logo-onhome: #00BBFFFF;
  --bg-simple: rgba(16, 15, 23, 1);
  --text-onsimple: rgba(255, 255, 255, 1);
  --accent-onsimple: #0076EBFF;
  --accent-text-ontheme: #63EFFFFF;
  --bg-insight: #0C1D31FF;
  --text-insight: #A6DAFFFF;
  --highlight: #002060;
  --button-bg: #0076EBFF;
  --text-onbutton: rgba(255, 255, 255, 1);
   --upgrade: #078c07;
  --fetch: #9ec438;
  --sbi: #7ac3f8;
}

[data-theme="fish"]{
  --bg-theme: #fff759;
  --text-ontheme: rgba(9, 76, 211, 1);
  --logo-onhome: #00beda;
  --bg-simple: rgba(255, 255, 255, 1);
  --text-onsimple: rgba(42, 44, 60, 1);
  --accent-onsimple: #1c646e;
  --accent-text-ontheme: #114d62;
  --bg-insight: rgb(231 242 163);
  --highlight: rgba(255, 255, 197, 1);
  --button-bg: #114d62;
  --text-onbutton: rgba(255, 255, 255, 1);
  --upgrade: #0e680e;
  --fetch: #dd3247;
  --sbi: #3591CF;
}


[data-theme="flamingo"]{
  --bg-theme: #FB70C5;
  --text-ontheme: rgba(9, 76, 211, 1);
  --logo-onhome: #720C41;
  --bg-simple: rgba(255, 255, 255, 1);
  --text-onsimple: rgba(42, 44, 60, 1);
  --accent-onsimple: rgba(9, 76, 211, 1);
  --accent-text-ontheme: #302D3B;
  --bg-insight: rgb(255 224 243);
  --highlight: rgba(255, 255, 197, 1);
  --button-bg: #720C41;
  --text-onbutton: rgba(255, 255, 255, 1);
  --upgrade: #0e680e;
  --fetch: #dd3247;
  --sbi: #3591CF;
}


/**/
