/* spot color = #2EB398 */


body{
  font: 16px/180% 'Open Sans', sans-serif;
  color: #333;
  margin: 0;
  background: #eee;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
}


header{
  height: 80px;
  background: white;
  position: relative;
  z-index: 4;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

  .logo{
    background-color: #2EB398;
    display: inline-block;
    background: url('images/cat.png') center center no-repeat, #2EB398;
    height: 100%;
    width: 100px;
  }

  header h1{
    display: inline-block;
    width: 15%;
    font-weight: 300;
    font-size: 18px;
  }

  header nav{
    display: inline-block;
    width: calc(100% - 140px);
    height: 80px;
    vertical-align: middle;
    margin-top: -18px;
  }

    nav a{
      padding: 5px 20px;
      color: #333;
      text-decoration: none;
      opacity: .6;
      font-size: 14px;
    }

      nav .active{
        opacity: 1;
      }

      nav a:first-of-type{
        padding-left: 40px;
      }

      header nav a:hover{
        opacity: 1;
      }

      a.sidebar{
        float: right;
        margin-top: -4px;
      }
  
      a.sidebar, a.readmore{
        color: #2EB398;
        opacity: 1;
        border: 1px solid #2EB398;
        border-radius: 25px;
      }
      a.sidebar:hover, a.readmore:hover{
        opacity: 0.7;
      }

main{
  position: relative;
  display: block;
}

#content{
  display: inline-block;
  position:relative;
  z-index: 3;
  width: 75%;
  box-shadow: 5px 0 15px rgba(0,0,0,0.1);
  background: #fff;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.post, #sidebar{
  display: inline-block;
  background: #fff;
}

.post h2{
  padding: 0;
  font-weight: 700;
}

.byline{
  text-transform: uppercase;
  font-size: 14px;
  color: #aaa;
}

span {
  margin-right: 20px;
  letter-spacing: 1px;
  display: inline-block;
}

.slider { 
  position: relative; 
  overflow: auto; 
  background-position: center center;
  background-size: cover;
  text-align: center;
}

  .slider ul{
    margin: 0;
  }

  .slider li { 
    list-style: none; 
    height: 400px;
    background-position: center center;
    background-size: cover;
  }

  .slider ul li { 
    float: left; 
  }

  .slider .btn, .banner .dot {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  }

  .slider .dots {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    bottom: 20px;
    width: 100%;
  }
    .slider .dots li {
      display: inline-block;
      *display: inline;
      zoom: 1;

      width: 10px;
      height: 10px;
      line-height: 10px;
      margin: 0 4px;

      text-indent: -999em;
      *text-indent: 0;

      border: 2px solid #fff;
      border-radius: 6px;

      cursor: pointer;
      opacity: .4;

      -webkit-transition: background .5s, opacity .5s;
      -moz-transition: background .5s, opacity .5s;
      transition: background .5s, opacity .5s;
    }
      .slider .dots li.active {
        background: #fff;
        opacity: 1;
      }

.post {
  width: 100%;
  text-align: center;
}
.post img {
  width: 100%;
  max-height: 400px;
}

  .post span img {
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
  }

.post-body{
  padding: 30px 6%;
  max-width: 900px;
  text-align: left;
  margin: 0 auto;
}

.readmore{
 padding: 5px 20px;
 margin-top: 20px;
 font-size: 14px;
 display: inline-block;
 opacity: 1;
}


#sidebar{
  width: 25%;
  min-width: 250px;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #eee;
}

  #sidebar div{
    margin: 0 0 50px;
  }

  #sidebar li{
    margin-bottom: 10px;
  }

  #sidebar a{
    color: #999;
  }

    #sidebar a:hover{
      color: #2EB398;
    }

  .sidebar-container{
    padding: 40px;
  }

  #sidebar p{
    margin-bottom: 0;
  }
    input, button {
      border: none;
      font: 14px 'Open Sans', sans-serif;
      padding: 10px;
      width: 100%;
      display: inline-block;
      margin: 15px 0;
    }

    input{
      width: 80%;
    }

    input[type="email"] {
      margin-bottom: 0;
      box-sizing: border-box;
    }

    button{
      background: #2EB398;
      color: #fff;
      width: 20%;
      height: 39px;
      font-size: 25px;
      opacity: 0.8;
      vertical-align: bottom;
      vertical-align: top;
      padding-top: 0;
    }

      button:hover{
        opacity: 1;
      }

    h5{
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
    }

    #content.sidebar-toggle{
      width: 100%;
      z-index: 100;
    }

footer {
  padding: 50px 6% 15px;
  background: #fff;
  text-align: left;
  width: 88%;
  margin: 0 auto;
  max-width: 900px;
}

  footer a {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #888;
    text-transform: uppercase;
  }

  footer a:hover{
    color: #333;
  }

  footer a:first-of-type{
    padding-left: 0;
  }


@media (max-width: 1000px){

  #content{
    width: 100%;
  }

  .sidebar-toggle{
    margin-left: -250px;
  }

  footer{
    text-align: center;
  }

  footer a:first-of-type{
    padding-left: 20px;
  }

}


@media (max-width: 500px){

  .slider li { 
    height: 300px;
  }

  nav a {
    padding: 5px 10px;
  }

  nav a:first-of-type {
    padding-left: 10px;
  }

  header nav a:first-of-type {
    padding-left: 20px;
  }
  .post-body{
    text-align: center;
  }

  .post-body p{
    text-align: left;
  }

}

@media (max-width: 400px){

  header{
    height: 160px;
  }

  header .logo{
    height: 50%;
    width: 100%;
  }

  header nav {
    display: block;
    width: 100%;
    height: 80px;
    margin-top: 15px;
  }

  a.sidebar{
    margin-right: 20px;
  }

  footer a{
    display: inline-block;
  }
}

@media (min-width: 1600px){
  .slider li { 
    height: 600px;
  }
}